.file-search {
    display: flex;
    padding: 24px;
    width: 100vw;
    height: calc(100vh - 80px);
    color: var(--color-text-light);
    margin: 0;
    box-sizing: border-box;
    gap: 24px;
}

.file-search-sidebar {
    display: flex;
    flex-direction: column;
    width: 25vw;
    min-width: 300px;
    height: 100%;
    overflow-y: auto;
    background-color: var(--color-bg-dark-alt);
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;
}

.collection-select-wrapper {
    margin-bottom: 16px;
}

.file-search-sidebar .compact-file-grid {
    flex: 1;
    overflow-y: auto;
}

.file-search-details {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    background-color: var(--color-bg-dark-alt);
    padding: 24px;
    box-sizing: border-box;
    border-radius: 8px;
}

.dialog-overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
    z-index: 1000;
}

.dialog-content {
    background: var(--color-bg-dark-alt);
    padding: 24px;
    width: 90%;
    max-width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    z-index: 1001;
    color: var(--color-text-light);
}

.dialog-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.dialog-description {
    margin-bottom: 24px;
}

.dialog-buttons {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

.dialog-buttons button {
    padding: 8px 16px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    background: var(--color-primary);
    color: white;
}

.dialog-buttons button:last-child {
    background: var(--color-bg-dark-alt);
}
