:root {
  --color-bg-dark: #1e1e20;
  --color-bg-dark-alt: #2a2a2d;
  --color-bg-light: #ffffff;
  --color-primary: #5b63b7;
  --color-secondary: #9296f0;
  --color-accent: #cbccff;
  --color-neutral: #000000;
  --color-text-light: rgba(255, 255, 255, 0.87);
  --color-text-dark: #213547;

  line-height: 1.5;
  font-weight: 400;
  font-family: "Liter", sans-serif;

  color-scheme: light dark;
  color: var(--color-text-light);
  background-color: var(--color-bg-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #2a2a2d;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-primary);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-text-dark);
    background-color: var(--color-bg-light);
  }
  a:hover {
    color: var(--color-secondary);
  }
  button {
    background-color: #f9f9f9;
  }
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

input,
textarea,
button,
select {
  font-family: inherit;
}